extends ../../modules/layout/layout
include ../../modules/content/content

block body
  +content('Контакты')
    .wf
      .c.c4.contacts-img
        img(src='pages/contacts/contacts-1.svg')
      .c.c8
        p Наш адрес: 192102, ул. Бухарестская, 32 (в БЦ прямо над ст. м. Бухарестская)
        p E-mail: info@montanastate.ru
      .c.c12
        p Многоканальный номеp<br>+7 (812) 6-222-338
      .c.c7
        include ../../modules/form/form
      .c.c5.contacts-img
        img(src='pages/contacts/contacts-2.svg')