.container
  position: absolute
  right: 0
  bottom: 0
  width: round((100 / $cols-number * 3)%, 3)
  text-align: center

  @media (max-width: $breakpoint-md - 1)
    display: none

.text
  display: inline-block
  text-align: left
  margin-bottom: 1em

.img
  display: block
  margin: 0 auto
