.form-block: form(method='get' action='/')
  .wpcf7-form-control-wrap
    input.form-input(name='name' placeholder='Имя')
  .wpcf7-form-control-wrap
    input.form-input(name='email' placeholder='Email')
  .wpcf7-form-control-wrap
    textarea.form-input.form-area(name='message' placeholder='Сообщение')

  .form-wrapper
    input.form-submit(type='submit')
