extends ../../modules/layout/layout
include ../../modules/content/content
include ../../modules/slider/slider

block body
  +content('О компании')
    p
      | Не судите человека,<br>
      | пока не проходили две луны<br>
      | в его мокасинах.<br>
      i (Индейская мудрость)
    p Агентство «МОНТАНА» - рекламно-производственная фирма полного цикла, выполняет заказы по изготовлению дизайн-макетов, производству и размещению рекламной продукции, прежде всего – высококачественной широкоформатной полиграфии, как интерьерной, так и экстерьерной печати на разных поверхностях. Кроме того, мы занимаемся брендингом и бренд-буками, выполняем работы по монтажу собственных конструкций, занимаемся промо-мероприятиями и сопровождением выставок – и делаем все это на самом высоком уровне, в соответствии с европейскими стандартами работы и ведения дел. В нашем распоряжении новейшее оборудование, команда опытных профессионалов, собственное логистическое и монтажное подразделения. Мы выполним Ваш заказ, доставим до места и смонтируем: Вам остается просто взять трубку и позвонить.
    +slider()
    p За более подробной информацией обращайтесь по телефону, +7 (812) 6-222-338.
    +slider()
