include ../title/title
include ../menu/menu

.sidebar_right-container
  .sidebar_right-content
    +title() Услуги
    +menu(['Разработка и создание фирменных каталогов любой сложности/ листовок/ буклетов/ флаеров.', 'Растяжки. Широкоформатная печать уличных и интерьер- ных баннеров.', 'Широкоформатная печать наклеек.', 'Широкоформатная печать чертежей любых размеров.', 'Создание корпоративного стиля', 'Изготовление вывесок'])
  .sidebar_right-plush
    include ../plush_right/plush_right