include ../title/title
include ../menu/menu

.sidebar_left-container
  .sidebar_left-content
    +title() Мы работаем
    +menu(['Выставочные мероприятия', 'Услуги для проектно- архитектурных бюро и инженерных организаций', 'Услуги для сетевого ритейла', 'Услуги дизайна интерьеров'])
  .sidebar_left-plush
    include ../plush_left/plush_left