.header-wrapper: .w
  .c.header-logo
    img(src='modules/header/logo.svg')
  .c.header-content
    .header-title Монтана
    .header-subtitle РЕКЛАМНО-ПРОИЗВОДСТВЕННАЯ ФИРМА
    .header-buttons
      ul
       li: a.header-button(href='/') О нас
       li: a.header-button(href='/contacts') Контакты
  .c.header-contact
    .header-block
      .header-wtf Get Rich
      .header-phone +7 (812) 6 222 338