.header-wrapper: .w
  .c.header-logo
    img(src='modules/header/logo.svg')
  .c.header-name
    .header-title Монтана
    .header-subtitle РЕКЛАМНО-ПРОИЗВОДСТВЕННАЯ ФИРМА
  .c.header-content
    .header-contacts
      .header-phone: .header-contact +7 (812) 6 222 338
      .header-email: .header-contact info@montanastste.ru
    .header-buttons
      ul
       li: a.header-button(href='') О нас
       li: a.header-button(href='contacts') Контакты
  .c.header-wtf
    .header-wtf-text Get Rich
