.wrapper
  width: 54%
  padding-left: $gutter-half
  padding-right: $gutter-half
  margin-left: 23%
  height: 100%

  @media (max-width: $breakpoint-md - 1)
    width: round((100 / $cols-number * 8)%, 3)
    margin-left: round((100 / $cols-number * 4)%, 3)

  @media (max-width: $breakpoint-sm - 1)
    width: 100%
    margin: 0
    padding: 0

.container
  display: table
  height: 100%
  width: 100%
  table-layout: fixed

  @media (max-width: $breakpoint-sm - 1)
    display: block
    height: auto

.row
  display: table-row

  @media (max-width: $breakpoint-sm - 1)
    display: block

.h1
  height: 1px

  @media (max-width: $breakpoint-sm - 1)
    height: auto

.content
  display: table
  table-layout: fixed
  width: 100%
  height: 100%
  background: $grey
  border: 1px solid $grey-dark

  @media (max-width: $breakpoint-sm - 1)
    height: auto
    display: block

.title
  font-size: 1em
  //font-size: 1.5em
  margin: 0
  padding: 0

.text
  display: table-row

  @media (max-width: $breakpoint-sm - 1)
    display: block

.text_inner
  height: 100%
  overflow-y: auto
  padding: 1em 1em 0

  @media (max-width: $breakpoint-sm - 1)
    padding: 1em
    height: auto
    overflow: auto

  p
    padding: 0 0 1em
    margin: 0