.content
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1)
    position: absolute
    left: 0
    height: 100%
    overflow: hidden
    width: round((100 / $cols-number * 4)%, 3)

  @media (max-width: $breakpoint-sm - 1)
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $white
    font-variant: normal
    overflow: auto
    z-index: 100

.active
  @media (max-width: $breakpoint-sm - 1)
    display: block

.button
  display: none
  position: fixed
  top: 11px
  border: 0
  background-color: transparent
  padding: 0
  margin: 0
  z-index: 2

  @media (max-width: $breakpoint-sm - 1)
    display: block

.open
  background-image: url(modules/sidebars/sprite-menu.svg)
  left: $gutter-half

.close
  background-image: url(modules/sidebars/sprite-close.svg)
  right: $gutter-half

.plush
  position: absolute
  bottom: 1em
  width: 23%
  text-align: center

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1)
    display: none

  @media (max-width: $breakpoint-md - 1)
    position: relative
    width: auto
    margin-top: 1em

.left
  left: 0

.right
  right: 0

  @media (max-width: $breakpoint-md - 1)
    display: none

