.sidebars-wrapper
  button.sidebars-button.sidebars-open
  .sidebars-content
    button.sidebars-button.sidebars-close
    include ../sidebar_left/sidebar_left
    include ../sidebar_right/sidebar_right
    .sidebars-plush.sidebars-left
      include ../plush_left/plush_left
    .sidebars-plush.sidebars-right
      include ../plush_right/plush_right
